<div>
    <form action="/creategroup" method="post">
        <div>
            <div>
                <input name="group_name" placeholder="グループ名を入力"><br>
                <input name="group_password" type="password" placeholder="グループパスワードを入力"><br>
                <input name="group_password_confirmation" type="password" placeholder="グループパスワードをもう一度入力">
            </div>
            <div>
                <input type="submit" value="グループ作成">
            </div>
        </div>
    </form>
</div>