<div>
    <form action="/joingroup" method="post">
        <div>
            <div>
                <input name="name" placeholder="名前を入力"><br>
                <input name="password" type="password" placeholder="パスワードを入力"><br>
            </div>
            <div>
                <input type="submit" value="参加">
            </div>
        </div>
    </form>
</div>